<html>
    <head>
        <title>error</title>
        <style>
            body {margin: 0; padding: 0;}
            div {
                height: 30vh;
                background-color: #232323;
            }
            #error {
                color: #fff;
                font-size: 1em;
            }
            #status {
                font-size: 15em;
                color: white;
            }
        </style>
    </head>
    <body>
        <div>
            <span id="status"><%= error.status %></span>
            <span id="error"><%= error %></span>
        </div>  
    </body>
</html>