<% include template.ejs %>

    <div id="index-content">
        
        <div id="curriculum-li">
            <h2>this is abcde!</h2>
            <p>the beginning of your learning path to everything</p>
        </div>

        <div>
            <ul class="user-curricula">

                <li class="curriculum-title">
                    Discover
                </li>
            
                <li class="curriculum-title">
                    Share
                </li>

                <li class="curriculum-title">
                    Learn
                </li>

                <li class="curriculum-title">
                    <a href="/curriculum/CURRICULUM_URL">Click here and see a curriculum example</a>
                </li>

            </ul>
        </div>

    </div>

<% include templateFooter.ejs %>